@font-face {
  font-family: 'M PLUS 1c';
  src: url('../assets/fonts/rounded-mgenplus-1c-regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'M PLUS 1c';
  src: url('../assets/fonts/rounded-mgenplus-1c-medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'M PLUS 1c';
  src: url('../assets/fonts/rounded-mgenplus-1c-bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'M PLUS 1c', system-ui, sans-serif;
}

textarea {
  font-family: 'M PLUS 1c', system-ui, sans-serif;
}
